/* header top */
header {background-color:lemonchiffon;}
header .h_top_bg {}
header .h_top_bg p {}
header .h_top_bg p a {}
/* header title */
header .title {}
header .title h1 {}
header .title h1 a {}
header .title .left {background-color:lightblue;}
header .title .left li {}
header .title .left li a {}
header .title .right {background-color:lightgreen;}
header .title .right li {}
header .title .right li a {}
header .title .right li a img {}
/* nav */
header nav {background-color:lightcoral;}
header nav ul {}
header nav ul li {}
header nav ul li a {}
/* main */
main {}
main a {}
main a img {}
/* main quickmenu */
main #quick_menu {background-color:lime;}
main #quick_menu a {}
main #quick_menu a img {}
/* main 배너 */
main .bnr {}
main .bnr a {}
main .bnr a img {}
/* main 상품 */
main .best {}
main .best h2 {}
main .best .items {}
main .best .items li {}
main .best .items li a {}
main .best .items li a img {}
main .best .items li em {}
main .best .items li span {}
/* main 하단배너 */
main .bnr_btm {background-color:skyblue;}
main .bnr_btm img {}
main .bnr_btm span {}
main .bnr_btm a {}
main .bnr_btm a span {}
/* footer */
footer {background-color:lightgray;}
footer .top {}
footer .top a {}
footer address {}