/* popup */
#top {
    position:fixed; right:50px; bottom:50px;
    width:34px; height:34px;
}
#top img {width:100%}
/* all layout */
header, main .visual, main .service, main .bnr_bg .bnr, main .board, 
main .field_info, main .news, footer {
    background-color:lightgreen;
    width:1152px; margin:0 auto;
}
/* header-h top */
header {}
header #h_top {
    background-color: chartreuse;
    height:48px;
}
header #h_top .left {
    background-color:cyan;
    float:left;
    }
header #h_top .left h1 {
    width:110px; height:28px;
    float:left;
    padding-top:10px;
}
header #h_top .left h1 a {}
header #h_top .left h1 a img {width:100%;}
header #h_top .left nav {
    float:left;
}
header #h_top .left nav ul {}
header #h_top .left nav ul li {
    float:left; margin-left:20px;
    letter-spacing:-0.02em;
}
header #h_top .left nav ul li a {
    line-height:48px;
}
header #h_top .right {
    background-color: cornflowerblue;
    float:right;
}
header #h_top .right li {
    float:left; margin-left:20px;
    letter-spacing:-0.02em;
}
header #h_top .right li:first-child {margin-left:0;}
/* header #h_top .right li:nth-child(1) {margin-left:0;} */
header #h_top .right li a {line-height:48px;}
/* header-h btm */
header #h_btm {
    background-color:gray;
    height:119px;
}
header #h_btm h1 {
    background-color:yellow;
    float:left;
    width:150px; height:28px;
    padding-top:45.5px;
}
header #h_btm h1 a {}
header #h_btm h1 a img {width:100%;}
header #h_btm #search_frm {
    background-color:lime;
    float:left; 
    width:369px; height:46px;
    border:2px solid #1e6cb3;
    padding:10px 20px 0;
    margin:36.5px 0 0 230.5px;
}
header #h_btm #search_frm fieldset {border:0;}
header #h_btm #search_frm fieldset legend {display:none;}
header #h_btm #search_frm fieldset input {
    float:left;
    width:calc(100% - 20px);
}
header #h_btm #search_frm fieldset input::placeholder {
    color:#1e6cb3; letter-spacing:-0.02em;
}
header #h_btm #search_frm fieldset #search_btn {
    float:right;
    width:20px; height:20px; 
    border:0; background:none;
    cursor:pointer;
}
header #h_btm #search_frm fieldset #search_btn img {width:100%;}
header #h_btm .right {
    background-color: yellow;
    float:right; margin-top:17px;}
header #h_btm .right #langfrm {
    text-align:right;
}
header #h_btm .right #langfrm fieldset {border:0;}
header #h_btm .right #langfrm fieldset legend {display:none;}
header #h_btm .right #langfrm fieldset select {
    font-size:0.833rem; letter-spacing:-0.02em; 
    width:93px; padding:5px 0; border:1px solid #1e6cb3;
}
header #h_btm .right #langfrm fieldset select option {
    /* font-size:0.833rem; letter-spacing:-0.02em; */
}
header #h_btm .right #langfrm fieldset #lang_btn {
    width:39px; height:33px; margin-left:10px;
    font-size:0.833rem; letter-spacing:-0.02em;
    background-color:#1e6cb3; color:#fff;
    border:0; cursor:pointer;
}
header #h_btm .right .weather {}
header #h_btm .right .weather .current_weather {padding:10px 0;}
header #h_btm .right .weather .current_weather em {
    font-size:2.074rem; font-weight:500; letter-spacing:-0.02em;
}
header #h_btm .right .weather .current_dust {
    font-size:0.833rem; letter-spacing:-0.02em;
}
/* main */
main {}
/* main-1광고배너 */
main .visual {
    background-color: pink;
    overflow:hidden;
}
main .visual .left {
    width:770px; height:350px;
    position:relative;/* 겹치는 대상 부모기준 */
    float:left;
}
main .visual .left img {width:100%}
main .visual .left .close {
    font-weight:500; letter-spacing:-0.02em;
    border:0; border-radius:5px;
    background-color:#1e6cb3; color:#fff;
    padding:10px;
    position:absolute; /* 겹치는대상 */
    right:10px; bottom:10px;
}
main .visual .right {
    background-color: yellow;
    width:360px; height:230px;
    float:right;
    }
main .visual .right .covid {
    position:relative; display:block;
    width:360px; height:230px;
    margin-bottom:10px;
}
main .visual .right .covid span {
    background-color: aqua;
    position:absolute;
}
main .visual .right .covid .date {top:17px; right:20px;}
main .visual .right .covid .data {color:#fff;}
main .visual .right .covid .data1 {top:84px; left:81px;}
main .visual .right .covid .data2 {top:84px; right:87px;}
main .visual .right .covid .data3 {left:58px; bottom:58px;}
main .visual .right .covid .data4 {right:164px; bottom:57px;}
main .visual .right .covid .data5 {right:53px; bottom:59px;}
main .visual .right .covid img {}
main .visual .right .traffic {}
main .visual .right .traffic img {}
/* 주요서비스~새소식 제목 디자인 그룹 */
/* 정리 후 */
main section .title {
    background-color: aquamarine;
    padding:50px 0 10px; 
    border-bottom:1px solid #aaa;
    overflow:hidden;
}
main section .title h2 {
    font-size:1.44rem; font-weight:500; letter-spacing:-0.02em;
    float:left;
}
main section .title .site {
    float:right;
    border:1px solid #aaa; padding:10px;
}
main section .title .more {float:right;}
main section .title .more i {font-size:30px;}
/* 정리 전 */
/* main .service .title {}
main .service .title h2 {}
main .service .title .site {}
main .board .event .title {}
main .board .event .title h2 {}
main .board .event .title .more {}
main .board .festival .title {}
main .board .festival .title h2 {}
main .board .festival .title .more {}
main .board .service .title {}
main .board .service .title h2 {}
main .field_info .title {}
main .field_info .title h2 {}
main .news .title {}
main .news .title h2 {}
main .news .title h2 .more {} */
/* main-2주요서비스 */
main .service {}
main .service .title {}
main .service .title h2 {}
main .service .title .site {}
main .service .contents {padding:20px; overflow:hidden;}
main .service .contents a {
    float:left; width:9.09%;/* 100/11 */
    text-align:center;
}
main .service .contents a img {}
main .service .contents a span {
    display: block; text-align: center;
    font-size:0.833rem; letter-spacing:-0.02em;
}
/* main-3배너 */
main .bnr_bg {
    background-color:#eff4f8; padding:50px 0; overflow:hidden;
}
main .bnr_bg .bnr {}
main .bnr_bg .bnr a {float:left;}
main .bnr_bg .bnr a img {}
/* main-4게시판 */
main .board {overflow: hidden;}
/* main-4게시판 그룹모음 */
main .board > div {
    width:calc(33.33% - 22px); float:left; /* margin-right:22px; */
}
main .board > div .title {height:90px;}
main .board .event {}
main .board .festival {margin:0 22px;}
main .board .service {width:33.33% /* margin-right:0; */}
/* main-4게시판 카테고리 */
main .board div .contents a .administrative {color:#028ab6;}
main .board div .contents a .environment {color:#599100;}
main .board div .contents a .welfare {color:#d76000;}
main .board div .contents a .housing {color:#c35c3c;}
main .board div .contents a .culture {color:#9b64d3;}
main .board div .contents a .economy {color:#069363;}
/* main-4게시판 이벤트신청, 행사축제 공통 내용 */
main .board .event .contents,
main .board .festival .contents {margin-top:17px;}
main .board .event .contents a,
main .board .festival .contents a {
    display:block; margin-bottom: 25px; overflow: hidden;
}
main .board .event .contents a:last-child,
main .board .festival .contents a:last-child {margin-bottom:0;}
main .board .event .contents a span,
main .board .festival .contents a span {}
main .board .event .contents a span:first-child,
main .board .festival .contents a span:first-child {
    margin-right: 10px; float:left;
}
main .board .event .contents a span:last-child,
main .board .festival .contents a span:last-child {
    background-color: white;
    white-space:nowrap; /* 줄바꿈x */
    text-overflow: ellipsis; /* 말줄임 */
    overflow: hidden; /* 영역 넘치는 부분 숨김 */
    float:right; width:85%;
}
/* main-4게시판 개별내용 */
main .board .event .title {}
main .board .event .title h2 {}
main .board .event .title .more {}
main .board .event .contents {}
main .board .event .contents a {}
main .board .event .contents a span {}
main .board .event .contents a .administrative {}
main .board .event .contents a .environment {}
main .board .event .contents a .welfare {}
main .board .event .contents a .housing {}
main .board .event .contents a .culture {}
main .board .festival .title {}
main .board .festival .title h2 {}
main .board .festival .title .more {}
main .board .festival .contents {}
main .board .festival .contents a {}
main .board .festival .contents a span {}
main .board .festival .contents a .environment {}
main .board .festival .contents a .economy {}
main .board .festival .contents a .culture {}
main .board .service .title {border:0;}
main .board .service .title h2 {}
main .board .service .contents {
    background-color: #eff4f8;
    overflow: hidden; padding:13px;
}
main .board .service .contents a {
    float:left; width:50%; text-align:left; margin-bottom:25px;
}
main .board .service .contents a:nth-last-child(2),
main .board .service .contents a:last-child {margin-bottom: 0;}
/* main-5분야정보 */
main .field_info {}
main .field_info .title {}
main .field_info .title h2 {}
main .field_info .contents {
    overflow:hidden; padding:20px 40px;
}
main .field_info .contents a {
    float:left; text-align:center; width:12.5%; /* 100/8 상대값*/
}
main .field_info .contents a img {}
main .field_info .contents a span {
    display:block; text-align:center;
    letter-spacing:-0.02em; padding-top:10px;
}
/* main-6새소식 */
main .news {}
main .news .title {}
main .news .title h2 {}
main .news .title h2 .more {}
main .news .contents {overflow: hidden; padding-top:40px;}
main .news .contents a {
    float:left; /* width:25%; */ width:270px; height: 250px; margin-right:24px;
    margin-bottom: 20px;
}
main .news .contents a:nth-child(4) {margin-right: 0;}
main .news .contents a:last-child {margin-right: 0;}
main .news .contents a img {}
main .news .contents a span {
    line-height:26px; letter-spacing:-0.06em; background-color: lime; margin-top:20px;
}
/* footer-f top */
footer {}
footer .top {
    border:1px solid #aaa; margin-top:75px;
    border-left: 0; border-right: 0;
    overflow: hidden; padding:20px 0; 
}
footer .top .left {
    float:left; 
}
footer .top .left a {color:#aaa; letter-spacing:-0.02em; float:left;}
footer .top .left a:nth-child(2) {color:#000;}
/* left-a 가상선택자(구분선용) */
footer .top .left a::after {
    /* 가상선택자의 필수속성1 */
    content:'';/*빈문자열*/
    width:1px; height:10px;
    background: #aaa; display:inline-block;
    margin:0 10px;
}
footer .top .left a:last-child::after {display:none;}
footer .top .right {float:right;}
footer .top .right a {
    background: no-repeat;
    width:25px; height:25px;
    display: inline-block; text-indent: -9999px; /* 화면 밖 글자 내보내기(양수:들여쓰기, 음수:내어쓰기 */
}
footer .top .right a:first-child {background-image:url(../images/icon_sns2/icon_set_sns_01.png);}
footer .top .right a:first-child:hover {
    background-image:url(../images/icon_sns2/icon_set_sns_08.png);
}
footer .top .right a:nth-child(2) {
    /* background:색상 이미지 반복 고정 위치; */
    background-image:url(../images/icon_sns2/icon_set_sns_02.png);
}
footer .top .right a:nth-child(2):hover {background-image: url(../images/icon_sns2/icon_set_sns_09.png);}
footer .top .right a:nth-child(3) {background-image:url(../images/icon_sns2/icon_set_sns_03.png);}
footer .top .right a:nth-child(3):hover {background-image: url(../images/icon_sns2/icon_set_sns_10.png);}
footer .top .right a:nth-child(4) {background-image:url(../images/icon_sns2/icon_set_sns_04.png);}
footer .top .right a:nth-child(4):hover {background-image: url(../images/icon_sns2/icon_set_sns_11.png);}
footer .top .right a:nth-child(5) {background-image:url(../images/icon_sns2/icon_set_sns_05.png);}
footer .top .right a:nth-child(5):hover {background-image: url(../images/icon_sns2/icon_set_sns_12.png);}
footer .top .right a:last-child {background-image:url(../images/icon_sns2/icon_set_sns_06.png);}
footer .top .right a:last-child:hover {background-image:url(../images/icon_sns2/icon_set_sns_13.png);}
/* footer-f btm */
footer .btm {overflow: hidden; margin-top:20px;}
footer .btm .left {float:left;}
footer .btm .left p {float:left; padding-right:10px;}
footer .btm .left p img {}
footer .btm .left address {float:left; line-height:30px; letter-spacing:-0.06em;}
footer .btm .left address a {}
footer .btm .right {float:right;}
footer .btm .right a{padding-right: 10px;}
footer .btm .right a:last-child {padding-right: 0;}
footer .btm .right a img{}