header {
    background-color:lightblue;
    width:1200px; height:92px;
    margin:0 auto;
}
header h1 {
    width:60px; height:70px;
    float:left;     
    margin:11px 0 0 20px;
}
header h1 a {}
header h1 a img {
    background-color: aquamarine;
    width:100%;
}
header nav {
    background-color:lightpink;
    float:left;
    margin:39px 0 0 234px;
}
header nav ul {}
header nav ul li.active {}
header nav ul li.active a {color:#36b4e5}
header nav ul li {
    float:left;
}
header nav ul li a {
    padding-right:40px;
    font-size:1.2rem;
}
header nav ul li:last-child a {padding-right:0;}
header .lnb {
    background-color:lightgreen;
    float:right;
    margin:39px 20px 0 0;
}
header .lnb ul {}
header .lnb ul li {
    float:left;
    padding-right:20px;
}
header .lnb ul li:last-child {padding-right:0;}
header .lnb ul li a {
    font-size:1.2rem;
}
header .lnb ul li span {
    width:1px; height:13px;
    background-color:#aaa;
    display:block; margin-top:3px;
}